
//Création de variable pour la réutilisation de même règles
/*Variable*/
$primary-shadow: 0.55rem 0.55rem #FFFFFF;
$secondary-shadow: 0.55rem 0.55rem #15FFF5;
$margin: 1rem;
$semi-margin: 0.5rem;

// Création de mixin pour la réutilisation de plusieurs règles similaires
/*Mixin*/
@mixin footer-border{
    margin: $semi-margin;
    text-shadow: $secondary-shadow;
}

//Utilisation des imbrications de selecteurs css pour une meilleur lisibilité
/* Footer */
#footer {
    text-shadow: $primary-shadow;

    .form__footer {
        margin: $margin;
        text-shadow: $secondary-shadow;
    }

    .cgu__footer {
        @include footer-border();
    }

    .cgv__footer {
        @include footer-border();

        .button {
            margin: $margin;
            padding: 1rem;
            font-size: 1.5rem;
        }
    }
}
